<div style="text-align: center; background-color: white">
  <h1>Statistics Works!</h1>
  <div style="display: grid; place-items: center; background-color: blueviolet">
    Pacientes dados de alta {{ totalPacientes }}
  </div>
  <div style="display: grid; place-items: center; background-color: blueviolet">
    Pacientes mayores de edad {{ totalPacientesMayoresEdad }}
  </div>
  <div style="display: grid; place-items: center; background-color: blueviolet">
    Pacientes menores de edad {{ totalPacientesMenoresEdad }}
  </div>
  <div style="display: flex; gap: 20px">
    <div style="display: flex; gap: 20px; flex-direction: column">
      <div style="display: flex; gap: 20px">
        <div style="width: 400px; height: 100px; background-color: bisque">
          <h1>Pacientes atendios durante el mes</h1>
          <h2>
            <div *ngIf="pacientesAtendidosMes; else cargandoTemplate">
              <h1>{{ pacientesAtendidosMes }}</h1>
            </div>

            <ng-template #cargandoTemplate> Cargando... </ng-template>
          </h2>
        </div>
        <div style="width: 400px; height: 100px; background-color: bisque">
          <h1>Pacientes nuevos durante el mes</h1>
          <h2>{{ ultimosPacientesMes ? ultimosPacientesMes : "Cargando" }}</h2>
        </div>
      </div>
      <div style="display: flex; gap: 30px">
        <div
          style="
            display: grid;
            grid-template-rows: repeat(2, 200px);
            grid-template-columns: repeat(2, 400px);
            gap: 20px;
          "
        >
          <div
            style="
              width: 400px;
              height: 200px;
              box-shadow: 0.2px 0.2px 10px rgb(171, 171, 171);
              overflow-y: scroll;
            "
          >
            <table style="border-spacing: 20px; box-sizing: border-box">
              <tr>
                <th>HIRA</th>
                <th>PACIENTE</th>
                <th>DOCUMENT</th>
                <th>TRATAMIENTO</th>
              </tr>
              <tr *ngFor="let cita of dataCitas">
                <td style="padding: 15px">
                  {{ cita!.fecha | date : "h:mm a" }}
                </td>
                <td style="padding: 15px">{{ cita.id_paciente }}</td>
                <td style="padding: 15px">DOCUMENT</td>
                <td style="padding: 15px">{{ cita.tratamiento }}</td>
              </tr>
            </table>
          </div>
          <div
            style="
              width: 400px;
              height: 200px;
              box-shadow: 0.2px 0.2px 10px rgb(171, 171, 171);
            "
          >
            <app-doughnut-chart
              [totalPacientesMayoresEdad]="totalPacientesMayoresEdad"
              [totalPacientesMenoresEdad]="totalPacientesMenoresEdad"
            ></app-doughnut-chart>
          </div>
          <div
            style="
              width: 400px;
              height: 200px;
              box-shadow: 0.2px 0.2px 10px rgb(171, 171, 171);
            "
          >
            <app-pie-chart [chartData]="chartData"></app-pie-chart>
          </div>
          <div
            style="
              width: 400px;
              height: 200px;
              box-shadow: 0.2px 0.2px 10px rgb(171, 171, 171);
            "
          >
            <!-- <app-pie-chart
              [totalPacientesMayoresEdad]="totalPacientesMayoresEdad"
              [totalPacientesMenoresEdad]="totalPacientesMenoresEdad"
            ></app-pie-chart> -->
          </div>
        </div>
      </div>
    </div>
    <div style="width: 300px; display: flex; flex-direction: column; gap: 20px">
      <div
        style="
          height: 200px;
          width: 100%;
          box-shadow: 0.2px 0.2px 10px rgb(171, 171, 171);
        "
      >
        <app-my-line-chart
          [totalPacientesMayoresEdad]="totalPacientesMayoresEdad"
          [totalPacientesMenoresEdad]="totalPacientesMenoresEdad"
        ></app-my-line-chart>
      </div>
      <div
        style="
          height: 200px;
          width: 100%;
          box-shadow: 0.2px 0.2px 10px rgb(171, 171, 171);
        "
      >
        <!-- <app-bar-chart></app-bar-chart> -->
      </div>
      <div
        style="
          height: 200px;
          width: 100%;
          box-shadow: 0.2px 0.2px 10px rgb(171, 171, 171);
        "
      ></div>
    </div>
  </div>
</div>
