<h2 mat-dialog-title>Crear Nuevo Doctor</h2>

<div mat-dialog-content>

  <mat-form-field class="w-40">
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="data.nom_medico">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Apellido</mat-label>
    <input matInput [(ngModel)]="data.ape_medico">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Tipo Documento</mat-label>
    <mat-select [(ngModel)]="data.tip_docum">
      <mat-option value="dni">DNI</mat-option>
      <mat-option value="pasaporte">Pasaporte</mat-option>
      <mat-option value="libreta">Libreta Electoral</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Número Documento</mat-label>
    <input matInput [(ngModel)]="data.cod_docum">
  </mat-form-field>

  <mat-form-field class="w-25">
    <mat-label>Teléfono</mat-label>
    <input matInput [(ngModel)]="data.celular">
  </mat-form-field>

  <mat-form-field class="w-50">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="data.email">
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label>Dirección</mat-label>
    <input matInput [(ngModel)]="data.direccion">
  </mat-form-field>
</div>

<div mat-dialog-actions class="d-flex justify-content-center m-4 mt-0">
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-raised-button [mat-dialog-close]="data" color="primary" cdkFocusInitial>Crear Nuevo Doctor</button>
</div>