<div class="container p-3">
    <h1 style= " font-size: 100px;" *ngIf="edit">EDITANDO CITA</h1>

    <div class="d-flex justify-content-center align-items-center">
        <h1 class="text-center mt-2" ><strong>Programación de Citas</strong></h1>
    
        <button mat-raised-button color="primary" class="ms-4 mb-2" (click)="openDialog()">
            <mat-icon>today</mat-icon>
            Agendar Cita
        </button>
    </div>


    <full-calendar [options]="calendarOptions" ></full-calendar>

</div>

<app-create-cita></app-create-cita>