.example-spacer {
    flex: 1 1 auto;
  }
  .sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 250px; /* Ancho del sidenav */
    background-color: #ff8c00; /* Color de fondo del sidenav */
  }
  
  .mat-toolbar {
    background-color: #3f51b5; /* Color de fondo del toolbar */
    color: white; /* Color del texto del toolbar */
  }
  .content {
    flex-grow: 1; /* Hace que el contenido ocupe todo el espacio disponible */
  }
  .app-container {
    display: flex;
    height: 100vh; /* Esto asegura que el contenedor ocupe toda la altura de la ventana */
  }