<h6>ID PACIENTE</h6>{{IdPaciente}}
<mat-card>
    <div class="d-flex align-items-center mt-2 ml2 ms-2 me-2">

        <h1 class="text-left textH1 flex-grow-1">Historial de Atenciones</h1>


        <button mat-raised-button color="primary" class="ms-2 mb-2 float-end" (click)="openDialog()">
            <mat-icon>add</mat-icon>
            Agendar Cita
        </button>
    </div>


    <!-- Tabla de Atenciones -->
    <table mat-table [dataSource]="tratamientos" class="mat-elevation-z8">

        <!-- Definición de las columnas -->
        <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
            <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
        </ng-container>

        <!-- Encabezado de la tabla -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <!-- Cada fila de la tabla -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</mat-card>