<div class="example-container p-2">
  <h2 mat-dialog-title class="text-center">AGENDAR CITA</h2>

  <div mat-dialog-content>
    <form
      [formGroup]="form"
      (submit)="crearNuevaCita()"
      class="form-container crea-paciente-details-form"
    >
      <mat-grid-list cols="12" rowHeight="100px" gutterSize="10">
        <!-- Fecha -->
        <mat-grid-tile [colspan]="4">
          <mat-form-field class="form-field example-full-width">
            <mat-label>Fecha y Hora</mat-label>
            <input
              matInput
              formControlName="fecha"
              placeholder="Fecha de Cita"
              type="datetime-local"
              [matDatepicker]="appointmentDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="appointmentDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #appointmentDate></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>

        <!-- Id Paciente -->
        <mat-grid-tile [colspan]="8">
          <mat-form-field class="form-field example-full-width">
            <mat-label>Id Paciente</mat-label>
            <mat-select formControlName="id_paciente" placeholder="Seleccionar">
              <mat-option value="14">14</mat-option>
              <!-- Agrega más opciones según sea necesario -->
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>

      <mat-grid-list cols="12" rowHeight="100px" gutterSize="10">
        <!-- Id Médico -->
        <mat-grid-tile [colspan]="8">
          <mat-form-field class="form-field example-full-width">
            <mat-label>Id Médico</mat-label>
            <mat-select formControlName="id_medico" placeholder="Seleccionar">
              <mat-option value="1">1</mat-option>
              <!-- Agrega más opciones según sea necesario -->
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <!-- Tratamiento -->
        <mat-grid-tile [colspan]="4">
          <mat-form-field class="form-field example-full-width">
            <mat-label>Tratamiento</mat-label>
            <input
              matInput
              formControlName="tratamiento"
              placeholder="Tratamiento"
            />
          </mat-form-field>
        </mat-grid-tile>

        <!-- Estado -->
        <!-- <mat-grid-tile [colspan]="4">
        <mat-form-field class="full-width">
          <mat-label>Estado</mat-label>
          <input matInput formControlName="estado" placeholder="Pendiente" [disabled]="true">
        </mat-form-field>
      </mat-grid-tile> -->

        <!-- Botón Enviar -->
        <mat-grid-tile [colspan]="12">
          <button mat-raised-button color="primary" type="submit">
            Enviar
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Close</button>
  </div>
</div>
