<div class="container mt-3">

  <h2 class="text-center mt-2"><strong> Formulario de Atención</strong></h2>

  <div class="d-flex align-items-center">

    <button mat-raised-button color="primary" class="ms-4 mb-2">
      <mat-icon>event_up_comming</mat-icon>
      Historia Paciente
    </button>

    <button mat-raised-button color="primary" class="ms-4 mb-2">
      <mat-icon>event_up_comming</mat-icon>
      Historial Atenciones
    </button>


        <mat-radio-group formControlName="attendance" class="ms-4 mb-2">
          <mat-radio-button value="Asistió">Asistió</mat-radio-button>
          <mat-radio-button value="No asistió">No asistió</mat-radio-button>
          <!-- Agrega aquí otras opciones convenientes -->
        </mat-radio-group>


    <mat-form-field class="ms-4 mb-2">
      <mat-label>Fecha de atención</mat-label>
      <input matInput [matDatepicker]="picker" [value]="formattedCurrentDate" disabled>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>


  </div>

  <h3>Detalles de la consulta </h3>

  <mat-grid-list cols="12">
    <mat-grid-tile [colspan]="12" [rowspan]="3" gutterSize="15">
      <mat-form-field class="example-full-width full-heigth">
        <mat-label>Consulta</mat-label>
        <textarea matInput placeholder="" formControlName="Consulta" cdkTextareaAutosize [cdkAutosizeMinRows]="5"
          [cdkAutosizeMaxRows]="7"></textarea>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>



  <mat-grid-list cols="12">
    <mat-grid-tile [colspan]="12" [rowspan]="3" gutterSize="15">
      <mat-form-field class="example-full-width full-heigth">
        <mat-label>Síntomas</mat-label>
        <textarea matInput placeholder="" formControlName="symptoms" cdkTextareaAutosize [cdkAutosizeMinRows]="5"
          [cdkAutosizeMaxRows]="7"></textarea>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>


</div>