table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 90%;
    margin-right: 10px;
  }
  /* .btn_add_paciente{
    width: 10%;
  } */
  /* td, th { */
    /* width: 30%; */
  /* } */

  th.mat-sort-header-sorted {
    color: black;
  }

  .btn__edit, .btn__delete{
cursor:pointer;
  }
  .btn__edit{
    color: #376DCD;
  }
.btn__delete{
color: #B03048;
}


  